<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"/>
    <link rel="stylesheet" href="../../css/styles.css"/>
</head>
<body>
<div class="container">
    <a class="btn btn-light shadow float-right" href="/logout">Sign out</a>
    <h1>Agile board</h1>
    <div class="clearfix"></div>
    <div class="row shadow">
        <div class="agile-column col col-md-4" id="todo">
            <h2 class="agile-header">To do</h2>
            <div class="agile-body">
                <div id="todoList"></div>
            </div>
        </div>
        <div class="agile-column col col-md-4" id="inProgress">
            <h2 class="agile-header">In progress</h2>
            <div class="agile-body">
                <div id="inProgressList"></div>
            </div>
        </div>
        <div class="agile-column col col-md-4" id="done">
            <h2 class="agile-header">Done</h2>
            <div class="agile-body">
                <div id="doneList"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="ticketModalContent"/>
    </div>
</div>

<script src="built/bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>
</html>