<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>error</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"/>
    <link rel="stylesheet" href="../../css/styles-login.css"/>
</head>
<body>

<!-- Page -->
<div class="container login">
    <div class="row">
        <div class="card col offset-md-3 col-md-6 offset-lg-4 col-lg-4">
            <div class="card-body">
                <h1 th:text="${error}">404/500</h1>
                <div th:if="${message ne null}">
                    <h3>Message:</h3>
                    <p class="alert alert-danger" th:text="${message}">Default Error Message</p>
                </div>
                <div th:if="${exception ne null}">
                    <h3>Exception:</h3>
                    <p class="alert alert-danger" th:text="${exception}">Default Error Message</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>